body {
    font-family: 'Nunito', sans-serif;
    background-color: #415a77;
    padding: 30px;
}

.container {
    background-color: #e0e1dd;
    padding: 25px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
}

h1 {
    font-family: 'Fredoka', sans-serif;
    color: #1b263b;
    text-align: center;
}

p {
    color: #415a77;
}

button {
    background-color: #415a77;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;

    display: block;
    margin: 0 auto;

    transition: 0.2s;
}

button:hover {
    transform: translateY(-2px);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

#weightChart {
    max-height: 200px;
}

input, select {
    font-family: 'Nunito', sans-serif;
}

th {
    border-bottom: 2px solid #eee;
}

td {
    border-bottom: 1px solid #f3f3f3;
    text-align: center;
    padding: 10px;
}

tr:hover {
    background-color: #eeeeec;
}

.navbar {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.action-col {
    display: flex;
    gap: 8px;
    justify-content: center;
    
}

.log-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    margin: 0 auto 50px;

    position: relative;
    width: 900px;
}

.header-info {
    text-align: center;
}

.logout {
    position: absolute;
    top: 0;
    right: 0;

    text-decoration: none;
    background: #ccc;
    color: #1b263b;
    padding: 8px 12px;
    border-radius: 8px;
}

.logout:hover {
    opacity: 0.9;
}

.header p {
    color: #ccc;
    line-height: 0.5;
}

.header h2 {
    color: #1b263b;
    font-weight: bold;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin: 0 auto 25px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.2s;

    display: flex;
    flex-direction: column;

    width: 100%;
    box-sizing: border-box;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-card {
    justify-content: flex-start;
}

.card:hover {
    transform: translateY(-3px);
}

.activity-card {
    margin: 20px auto 0 auto;
    width: 700px;
}

.activity-item {
    padding: 1px;
    border-bottom: 1px solid #eee;
}

.activity-item .date {
    font-size: 12px;
    color: gray;
}

@media (max-width: 600px) {
    .dashboard-cards{
        grid-template-columns: 1fr;
    }
    table {
        font-size: 12px;
    }
}