<!DOCTYPE html>
<html>
<head>
    <title>Pet Dashboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Nunito:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">

</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body>
        <div class="header">
            <p>{{ today_date }}</p>
            <h1>Pet Health Dashboard</h1>
            <p><strong>Pet Mood: </strong>{{ mood_moi }}</p>
        </div>

        <div class="dashboard-cards">
            <div class="card">
                <h3>Last Weight</h3>
                    <div class="card-content">
                        {% if last_weight %}
                            <h2>{{ last_weight.weight or "" }} kg</h2>
                            <p>
                                {{ weight_date }}
                            </p>
                        {% else %}
                            <p>Belum ada data</p>
                        {% endif %}
                    </div>
            </div>

            <div class="card chart-card">
                <h3>Weight Trend</h3>
                <canvas id="weightChart"></canvas>
            </div>
        </div>

        <div class="card activity-card">
                <h3>Latest Activity</h3>

                {% for log in latest_log %}
                    <div class="activity-item">
                        <p class="date">{{ log.formatted_date }}</p>
                        <p>
                            {% if log.type == "makan" %} 🍗
                            {% elif log.type == "muntah" %} 🤮
                            {% elif log.type == "BAB" %} 💩
                            {% elif log.type == "obat" %} 💊
                            {% elif log.type == "berat badan" %} 💪🏻
                            {% else %} 😺
                            {% endif %}

                            {{ log.type }} 
                            {% if log.note %} - {{ log.note }}
                            {% else %} 
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
        </div><br>

        <div class="container">

            <div class="navbar">
                🌈Welcome to Moi monitoring system!🌈
            </div>

            <h1>Dashboard Moi</h1>

            <p>Status Moi: {{ mood_moi }}</p>

            <form class="log-form" action="/submit-log" method="post">

                <label>Jenis Log:</label>
                <select name="log_type">
                    <option value="makan">Makan</option>
                    <option value="muntah">Muntah</option>
                    <option value="BAB">BAB</option>
                    <option value="obat">Obat</option>
                    <option value="berat badan">Berat Badan</option>
                </select>
                
                <label>Berat Badan (kg):</label>
                <input type="number" step="0.01" name="weight" placeholder="1.00">

                <label>Catatan:</label>
                <input type="text" name="note">
                
                <button type="submit">Submit</button>

            </form>

            <h2>Total Logs: {{ total_logs }}</h2>

            <table>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Note</th>
                    <th>Weight</th>
                    <th>Edit</th>
                </tr>

                {% for log in logs %}
                <tr>
                    <td>{{ log.formatted_date }}</td>
                    <td>{{ log.type }}</td>
                    <td>{{ log.note or "" }}</td>
                    <td>{{ log.weight or "" }}</td>
                    <td class="action-col">
                        <a href="/edit/{{ log.id }}">
                            <button type="button">Edit</button>
                        </a>
                        <form 
                            action="/delete/{{ log.id }}" 
                            method="post"
                            onsubmit="return confirm('Yakin mau hapus?')">
                            <button type="submit">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}

            </table><br>

            <div class="dashboard-cards">
                <div class="card">
                    <h3>Makan</h3>
                    <p>{{ jml_makan }}</p>
                </div>

                <div class="card">
                    <h3>Muntah</h3>
                    <p>{{ jml_muntah }}</p>
                </div>

                <div class="card">
                    <h3>BAB</h3>
                    <p>{{ jml_bab }}</p>
                </div>

                <div class="card">
                    <h3>Obat</h3>
                    <p>{{ jml_obat }}</p>
                </div>
            </div>
    </div>

    <script>
        const labels = {{ weight_dates | tojson }};
        const data = {{ weight_values | tojson }};
        new Chart(
            document.getElementById("weightChart"),
            {
                type: "line",
                data: { 
                    labels: labels,
                    datasets: [
                        {
                            label: "Weight (kg)",
                            data: data,
                            tension: 0.3
                        }
                    ]
                }
            }
        )
    </script>

</body>
</html>